{% import '_includes/forms' as forms %}

<h2>Override PHP Settings</h2>

{% set enableFrontEndMessage = "On all front-end pages of the <strong>" ~ siteName ~ "</strong> website."|t %}
{% set enableBackEndMessage  = "On the <strong>Craft</strong> back-end Control Panel."|t %}

<p>
	{{ forms.checkbox({
		label: enableFrontEndMessage,
		id: 'enableFrontEnd',
		name: 'enableFrontEnd',
		checked: settings.enableFrontEnd,
		errors: settings.getErrors('enableFrontEnd')
	}) }}
</p>
<p>
	{{ forms.checkbox({
		label: enableBackEndMessage,
		id: 'enableBackEnd',
		name: 'enableBackEnd',
		checked: settings.enableBackEnd,
		errors: settings.getErrors('enableBackEnd')
	}) }}
</p>

{{ phpSettingsTable }}

<p>Unsure if it's working? See the <a href="{{ cpUrl('utils/phpinfo') }}">current PHP setting values</a>. If you see two values for your setting, the <strong>top value</strong> is overriding the value below it.</p>

<p>For further reference, check out the <a href="http://www.php.net/manual/en/ini.list.php" target="_blank">official PHP settings documentation</a>.</p>