{% extends 'phptweak/_layout' %}
{% set selectedTab = 'variables' %}

{% set title = 'Template Variables'|t %}

{% set content %}
    <div class="function-definition">
        <h3><code>get(setting)</code></h3>
        <div class="function-description">Retrieve details of a specific PHP setting.</div>
        <div class="function-parameters"></div>
        <div class="function-returns"></div>
        <pre><code>{% verbatim -%}
{{ craft.phpTweak.get('max_execution_time') }}
        {%- endverbatim %}</code></pre>
    </div>

    <div class="function-definition">
        <h3><code>getDetails(setting)</code></h3>
        <div class="function-description">Retrieve details of a specific PHP setting.</div>
        <div class="function-parameters"></div>
        <div class="function-returns"></div>
        <pre><code>{% verbatim -%}
{% set details = craft.phpTweak.getDetails('max_execution_time') %}
&lt;ul&gt;
    &lt;li&gt;Original Value: {{ details.originalValue }}&lt;/li&gt;
    &lt;li&gt;Current Value: {{ details.currentValue }}&lt;/li&gt;
    &lt;li&gt;Permissions: {{ details.permissions }}&lt;/li&gt;
&lt;/ul&gt;
        {%- endverbatim %}</code></pre>
    </div>

    <div class="function-definition">
        <h3><code>getAll()</code></h3>
        <div class="function-description">Retrieve complete set of PHP settings.</div>
        <div class="function-parameters"></div>
        <div class="function-returns"></div>
        <pre><code>{% verbatim -%}
{% for setting,value in craft.phpTweak.getAll %}
    &lt;p&gt;The current value of {{ setting }} is {{ value }}.&lt;/p&gt;
{% endfor %}
        {%- endverbatim %}</code></pre>
    </div>

    <div class="function-definition">
        <h3><code>getAllDetails()</code></h3>
        <div class="function-description">Retrieve complete set of PHP settings, including details.</div>
        <div class="function-parameters"></div>
        <div class="function-returns"></div>
        <pre><code>{% verbatim -%}
{% for setting,details in craft.phpTweak.getAllDetails %}
    &lt;p&gt;The details of the {{ setting }} setting are:&lt;/p&gt;
    &lt;ul&gt;
        &lt;li&gt;Original Value: {{ details.originalValue }}&lt;/li&gt;
        &lt;li&gt;Current Value: {{ details.currentValue }}&lt;/li&gt;
        &lt;li&gt;Permissions: {{ details.permissions }}&lt;/li&gt;
    &lt;/ul&gt;
{% endfor %}
        {%- endverbatim %}</code></pre>
    </div>

    {#
    <div class="function-definition">
        <h3><code>start( )</code></h3>
        <div class="function-description">Initialize settings override.</div>
    </div>
    #}

{% endset %}