
table#current-settings {
	border: 1px solid #333333;
	max-width: 100%;
}
table#current-settings th {
	color: hsl(8, 67%, 57%);
	background: #fdf6e3;
	text-align: left;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
}
table#current-settings td {
	padding: 4px 0px 4px 8px;
	border-bottom: 1px solid #cccccc;
}
table#current-settings td div {
	width: 700px;
	overflow: scroll;
}
table#current-settings tr:nth-child(even) td {
	background-color: #eeeeee;
}
table#current-settings tr:nth-child(odd) td {
	background-color: #dddddd;
}
table#current-settings tr:nth-last-child(1) td {
	border: none;
}


div.function-definition {
	padding-bottom: 10px;
}
div.function-declaration {
	font-size: 16px;
	font-weight: bold;
}
div.function-description {
	margin-top: 10px;
}
div.function-parameters {}
div.function-returns {}

code {
	font-family: Menlo, monospace;
	font-size: 0.85em;
	border-radius: 10px;
	padding: 2px 5px;
	white-space: nowrap;
}
code.function-example {
	margin-top: 10px;
}

/* "Borrowed" from Craft docs */
h3 {
	margin: 1em 0 0.67em;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.4;
}
h3 code {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	border-radius: 0;
	padding: 0;
	color: inherit;
}

pre {
	color: hsl(8, 67%, 57%);
	background: #fdf6e3;
	margin: 1em 0;
	padding: 1em 1.25em;
	overflow: auto;
	-webkit-box-shadow: inset 1px 0 rgba(0,0,0,0.06);
	box-shadow: inset 1px 0 rgba(0,0,0,0.06);
}
pre code {
	padding: 0;
	white-space: pre;
}