{% extends 'phptweak/_layout' %}
{% set selectedTab = 'about' %}

{% set title = 'About'|t %}

{% set content %}
	<h2>What is PHP Tweak?</h2>
	<p>PHP Tweak is a plugin which allows you to easily adjust PHP settings on your server.</p>

	<h2>What comes with PHP Tweak?</h2>
	<p>The PHP Tweak plugin comes with the following things:</p>
	<ul>
		<li>Twig template <a href="{{ url('phptweak/variables') }}">variables</a></li>
	</ul>
    <p>If you need to adjust your settings, please look under Settings &gt; Plugins &gt; <a href="{{ url('settings/plugins/phptweak') }}">PHP Tweak</a></p>

    <h2>About the Publisher</h2>
    <p>On behalf of us here at the <a href="http://doublesecretagency.com" target="_blank">Double Secret Agency</a>, thank you for installing the PHP Tweak plugin!</p>

    <h2>Feedback</h2>
    <p>We welcome your feedback! Have any suggestions or bug reports? Simply email us at <a href="mailto:inquire@maukweb.com" target="_blank">inquire@maukweb.com</a></p>
{% endset %}