{% extends 'phptweak/_layout' %}
{% set selectedTab = 'main' %}

{% set title = 'How To Use PHP Tweak'|t %}

{% set content %}
	<h2>Basic Instructions</h2>
	<p>It's pretty easy to use... </p>
	<ol>
		<li>Go to <strong>Settings &gt; Plugins &gt; <a href="{{ url('settings/plugins/phptweak') }}">PHP Tweak</a></strong></li>
		<li>Choose where you want these settings to take effect (front-end and/or back-end).</li>
		<li>Add, update, or remove any PHP settings overrides.</li>
		<li>Save your settings.</li>
	</ol>
	<p><strong>That's it!</strong> Those override settings will now take effect.</p>
	<p>If you want to view the values of your settings, check out the available <a href="{{ url('phptweak/variables') }}">template variables</a>.</p>
{% endset %}